# Large reference files
02_Reference_Files/MANE.GRCh38.v0.95.select_ensembl_rna.fna
02_Reference_Files/Ignolia_transcriptome_and_contamination.fasta

# Large BAM and BED files
00_BAMs/probe1_reads.bed
00_BAMs/uf_muellermcnicoll_2025_04_01_huvec_dnor_2_dedup.bam
00_BAMs/uf_muellermcnicoll_2025_04_02_huvec_dnor_3_dedup.bam
00_BAMs/uf_muellermcnicoll_2025_04_03_huvec_dnor_4_dedup.bam

# You might also consider ignoring all files of these types in these directories
# For example:
# 00_BAMs/*.bed
# 00_BAMs/*.bam
# 02_Reference_Files/*.fna
# 02_Reference_Files/*.fasta
